
<h1>Settings</h1>

<div class="container">
<p id="notice"><%= notice %></p>

<%= form_tag("/change_password", method: "post") do %>

<div class= 'field' id="input-block-password">
<%= label_tag :old_password %>
<%= password_field_tag :old_password %>
</div>

<div class= 'field'  id="input-block-confirm-password">
<%= label_tag :new_password %>
<%= password_field_tag :new_password %>
</div>

<div class= 'field'  id="input-block-confirm-password">
<%= label_tag :confirm_new_password %>
<%= password_field_tag :confirm_new_password %>
</div>

<div class = 'actions'>
<%= submit_tag 'Change Password', :id=>"actions-btn" %>
</div>

<% end %>

</div>
