<div class="container">
<p id="notice"><%= notice %></p>
<form class="form-signin" accept-charset="UTF-8" action="/sessions" method="post">
<h2 class="form-signin-heading">Log in</h2>
<div class= 'field' id="input-block-email">
<%=  label_tag :email %>
<%= text_field_tag :email, params[:email] %>
</div>
<div class= 'field' id="input-block-password">
<%= label_tag :password %>
<%= password_field_tag :password  %>
</div>
<div class = "actions">
<%= submit_tag 'Log in', :id=>"actions-btn" %>
</form>
</div></div>