<div class="span5">
<div id="registration">
<h4>Login</h4>
<p>Please Enter Your Email and Password to Continue</p>
<form class="form-signin" accept-charset="UTF-8" action="/sessions" method="post">
<div class= 'field' id="input-block-email">
<%=  label_tag :email %>
<%= text_field_tag :email, params[:email] %>
</div>
<div class= 'field' id="input-block-password">
<%= label_tag :password %>
<%= password_field_tag :password  %>
</div>
<div class = "actions">
<%= submit_tag 'Log in', :id=>"actions-btn" %> </div>
</form>
<% if @activation_id %>
  <a href="reactivate/<%= @activation_id %>">Resend activation email</a>
<% end %>
</div>
</div>
</div>
