<h3 id="interview-cont" class="<%=@interview.get_position %>">
  <span id="interview-rate"><%= @interview.rating %></span>
  <%= @interview.content %>
  <span id="interview-pos"><%= @interview.position %></span>
  <span id="interview-date"><%= @interview.created_at %></span>
</h3>
<div id="interview-q" class="<%=@interview.get_position %>">
  Questions <br/>
  <%= @interview.questions %>

  <%= link_to 'Edit this Interview', edit_interview_path(@interview) %>
  <%= link_to 'Destroy this Interview', @interview, method: :delete, data: { confirm: 'Are you sure you want to delete this Interview?' } %></div>