<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @interview.content %>
</p>

<p>
  <b>User:</b>
  <%= @interview.user_id %>
</p>

<p>
  <b>Company:</b>
  <%= @interview.company_id %>
</p>


<%= link_to 'Edit', edit_interview_path(@interview) %> |
<%= link_to 'Back', interviews_path %>
