<h1>Listing users</h1>

<% if @admin%>
<table>
  <tr>
    <th>Email</th>
    <th>Password</th>
    <th>Activated</th>
    <th>Serial</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.password %></td>
    <td><%= user.activated %></td>
    <td><%= user.serial %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<br>

<% end %>
<%= link_to 'Create New User', new_user_path %>
<% else %>
Admin access required
<%end%>
</table>

<br />

