<% provide(:title, @company.name + " | Interviews") %>

<div class="container interview">
  <div class="row title">
    <p id="notice"><%= notice %></p>
    <h1 id="company-name"><%= @company.name %> Interviews</h1>
  </div>

  <hr class="company-divider">

<% if @interviews.any? %>
<% @interviews.each do |interview| %>
    <div class="interview-content"><%= interview.content %>
    <div class="interview-date"><%= interview.created_at %></div></div>

<% end %>
<% end %>

<br />
  <hr class="company-divider">

<%= link_to 'New Interview', new_interview_url(:id => @company.id) %> |
<%= link_to 'Back to ' + @company.name, company_url %>

</div>