<% provide(:title, @company.name + " | Interviews") %>

<div id="dialog-form-i" title="Write a new interview" xmlns="http://www.w3.org/1999/html">
  <textarea id="interview-content" name="interview-content" placeholder="Describe
your interview experience: walk through the process." rows="5" cols="15" ></textarea><br/>
  <textarea id="interview-questions" name="interview-questions" placeholder="Write the questions you received during your interview."></textarea><br/>
  <p>Rate the difficulty from 1-10, 1 being extremely easy and 10 being extremely difficult.</p>
  <input id="interview-rating" name="interview-rating" type="number" class="text ui-widget-content ui-corner-all"/><br/>
  <textarea id="interview-position" value="" name="interview-position" class="text ui-widget-content ui-corner-all" placeholder="Click a suggested tag
  below or enter your own."></textarea><br/>
  <div class="btn-group" data-toggle="buttons-radio" data-toggle-name="pos">
    <button type="button" class="btn btn-mini" name="position" value="Developer" id="developer" data-toggle="button">Developer</button>
    <button type="button" class="btn btn-mini" name="position" value="Project Manager" id="pm" data-toggle="button">Project Manager</button>
    <button type="button" class="btn btn-mini" name="position" value="Trader" id="trader" data-toggle="button">Trader</button>
    </br>
    <button type="button" class="btn btn-mini" name="position" value="Consultant" id="consultant" data-toggle="button">Consultant</button>
    <button type="button" class="btn btn-mini" name="position" value="Analyst" id="analyst" data-toggle="button">Analyst</button>
    <button type="button" class="btn btn-mini" name="position" value="Researcher" id="researcher" data-toggle="button">Researcher</button>
  </div><br/>
  <input id="interview-company" name="interview-company" type="hidden" value="<%= @company.id %>" /><br/>
  <a id="add-interview" class="btn spacer">Add Interview</a>
</div>

<div class="container interview">
  <div class="row title">
    <p id="notice"><%= notice %></p>

    <h1 id="company-name"><%= link_to @company.name, company_url(@company) %> Interviews</h1>
    <div id="plus-icon-i">
    <i class="foundicon-plus"></i></div>
    <div data-toggle="collapse" data-target="#search" id="search-icon-i">
    <i class="foundicon-search"></i></div>
  </div>

  <hr class="company-divider">

  <div id="search" class="collapse">
  <div class="row search">

    Search by position. <br/>
    <div class="search btn-group" data-toggle="buttons-checkbox" data-toggle-name="checkbox">
      <button type="button" value="Developer" class="btn active" data-toggle="button">Developer</button>
      <button type="button" value="Project Manager" class="btn active" data-toggle="button">Project Manager</button>
      <button type="button" value="Trader" class="btn active" data-toggle="button">Trader</button>
      <button type="button" value="Consultant" class="btn active" data-toggle="button">Consultant</button>
      <button type="button" value="Analyst" class="btn active" data-toggle="button">Analyst</button>
      <button type="button" value="Researcher" class="btn active" data-toggle="button">Researcher</button>
      <button type="button" value="Other" class="btn active" data-toggle="button">Other</button>
      <input type="hidden" name="checkbox" value="Developer" />
    </div>

  </div>

  <hr class="company-divider"></div>

<div id="accordian">
<% if @interviews.any? %>
<% @interviews.each do |interview| %>
    <h3 id="interview-cont" name="<%=interview.get_position %>">
    <span id="interview-rate"><%= interview.rating %></span>
    <%= interview.content %>
    <span id="interview-pos"><%= interview.position %></span>
    <span id="interview-date"><%= interview.created_at %></span>
    </h3>
    <div id="interview-q" name="<%=interview.position %>">
      Questions <br/>
      <%= interview.questions %>
	
      <%= link_to 'Edit this Interview', edit_interview_path(interview) %>
    <%= link_to 'Destroy this Interview', interview, method: :delete, data: { confirm: 'Are you sure you want to delete this Interview?' } %></div>
<% end %>
<% end %>
</div>

</div>
