<% provide(:title, @company.name + " | Questions") %>


<div id="dialog-form" title="Write a new question">
  <input id="question-content" name="question-content" class="text ui-widget-content ui-corner-all"/><br/>
  <input id="question-company" name="question-company" type="hidden" value="<%= @company.id %>" /><br/>
  <a id="add-question" class="btn spacer">Add Question</a>
</div>

<div class="container question">
  <div class="row title">
    <p id="notice"><%= notice %></p>

    <%= link_to(company_url) do %>
    <div id="back-icon">
    <i class="foundicon-left-arrow"></i></div>
    <% end %>
    <h1 id="company-name"><%= @company.name %> Questions</h1>
        <div id="plus-icon">
          <i class="foundicon-plus"></i></div>
  </div>


  <hr class="company-divider">

<div id="accordian">
  <% if @questions.any? %>
      <% @questions.each do |question| %>
          <h3 id="question-cont">
          <%= question.content %>
          <span id="question-date"><%= question.created_at %></span>
          </h3>

          <div>
          <% if question.answers.any? %>
              <% question.answers.each do |answer| %>
                  <div id="answer-cont"><%= answer.content %>
                    <span id="answer-date"><%= answer.created_at %></span>
                  </div>
              <% end %>
          <% end %>
          <div class="add-answer-btn">
            <input id="answer-content" name="answer-content" placeholder="Your answer..."/>
            <input id="answer-question" name="answer-question" type="hidden" value="<%= question.id %>" />
            <input id="answer-company" name="answer-company" type="hidden" value="<%= question.company_id %>" />
            <a id="add-answer" class="btn spacer">Add</a>
          </div><br/>
          </div>

      <% end %>
  <% end %>
</div>

</div>