<% provide(:title, @company.name + " | Questions") %>


<h1>Listing questions</h1>

<table>
  <tr>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% if @questions.any? %>
      <% @questions.each do |question| %>
          <tr>
            <td><%= question.content %></td>
            <td><%= link_to 'Show Answers', answer_url(question) %></td>
            <td><%= link_to 'Edit', edit_question_path(question) %></td>
            <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
  <% end %>
</table>

<br />

<%= link_to 'New Question', new_question_path %>  |
<%= link_to 'Back to ' + @company.name, company_url %>