<% provide(:title, @company.name + " | Questions") %>

<div class="container question">
  <div class="row title">
    <p id="notice"><%= notice %></p>
    <h1 id="company-name"><%= @company.name %> Questions</h1>
  </div>

  <hr class="company-divider">

<div id="accordian">
  <% if @questions.any? %>
      <% @questions.each do |question| %>
          <h3 id="question-content">
          <%= question.content %>
          <span id="question-date"><%= question.created_at %></span>
          </h3>

          <div>
          <% if question.answers.any? %>
              <% question.answers.each do |answer| %>
                  <div id="answer-content"><%= answer.content %>
                    <span id="answer-date"><%= answer.created_at %></span>
                  </div>
              <% end %>
          <% end %>
          <div class="add-answer-btn">
          <%= link_to "Add Answer", new_answer_url(question), :id=>"add-answer-btn" %></div><br/>
          </div>

      <% end %>
  <% end %>
</div>
<br />

  <hr class="company-divider">

<%= link_to 'New Question', new_question_path %>  |
<%= link_to 'Back to ' + @company.name, company_url %>

</div>