<% provide(:title, @company.name + " | Questions") %>

<div class="container question">
  <div class="row title">
    <p id="notice"><%= notice %></p>
    <h1 id="company-name"><%= @company.name %> Questions</h1>
  </div>

  <hr class="company-divider">


  <% if @questions.any? %>
      <% @questions.each do |question| %>
          <div class="question-content"><%= question.content %>
          <div class="question-date"><%= question.created_at %></div>
          </div>


      <% end %>
  <% end %>
<br />

  <hr class="company-divider">

<%= link_to 'New Question', new_question_path %>  |
<%= link_to 'Back to ' + @company.name, company_url %>

</div>