<% provide(:title, @company.name) %>


<div class="container company">
<div class="row title">
<p id="notice"><%= notice %></p>
<h1 id="company-name"><%= @company.name %></h1>

</div>

<hr class="company-divider">

<div class="row">
  <div class="span2 offset1">
    <ul class="nav nav-pills nav-stacked" id="company_nav">
      <li class="active"><a href="#general" data-toggle="pill">General</a></li>
      <li><a href="#interviews" data-toggle="pill">Interviews</a></li>
      <li><a href="#offers" data-toggle="pill">Offers</a></li>
      <li><a href="#questions" data-toggle="pill">Questions</a></li>
    </ul>
  </div>
  <div class="span8 pill-content">
    <div class="pill-pane active" id="general">
      <p>General info</p>
    </div>
    <div class="pill-pane" id="interviews">
      <p> <% if @interview.first %>
            <%= @interview.first.content %>
        <% else %>
            No interviews yet...
        <% end %>
      </p>

      <%= link_to 'View More Interviews', interview_url, :class=>"btn" %>
    </div>
    <div class="pill-pane" id="offers">
      <p><%= @offer %></p>

      <%= link_to 'View More Offers', offer_url, :class=>"btn" %>
    </div>
    <div class="pill-pane" id="questions">
      <p> <% if @question.first %>
            <%= @question.first.content %>
        <% else %>
            No questions yet...
        <% end %>
      </p>

      <%= link_to 'View More Question/Answers', question_url, :class=>"btn" %>
    </div>
  </div>
</div>

</div>
</div>

