<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<%= link_to 'View Interviews', interview_url %> |
<%= link_to 'View Offers', '#' %> |
<%= link_to 'View Question/Answers', '#' %><br/>

<%= link_to 'Add Interview', '#' %> |
<%= link_to 'Add Offer', '#' %> |
<%= link_to 'Add Question', '#' %><br/>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
