<% provide(:title, @company.name) %>


<div class="container company">
<div class="row title">
<p id="notice"><%= notice %></p>
<h1 id="company-name"><%= link_to @company.name, company_url(@company) %></h1>

</div>




<hr class="company-divider">

<div class="row">
  <div class="span2 offset1">
    <ul class="nav nav-pills nav-stacked" id="company_nav">
      <li class="active"><a href="#general" data-toggle="pill">General</a></li>
      <li><a href="#interviews" data-toggle="pill">Interviews</a></li>
      <li><a href="#offers" data-toggle="pill">Offers</a></li>
      <li><a href="#questions" data-toggle="pill">Questions</a></li>
    </ul>
  </div>
  <div class="span8 pill-content">
    <div class="pill-pane active" id="general">
      <h4>General information</h4>
      <div class="row">
        <div class="span4" id="sub_general">
          <br/>
          Website <br/>
          HQ <br/>
          Industry <br/>
          Size <br/>
          NASDAQ
        </div>
        <div class="span3" id="sub_general_right">
          <h5>MIT statistics at <%= @company.name %></h5>
          Number of Recent Interviews: <%= @company.interviews.count %> <br/>
          Average MIT Salary: <%=  @offer %> <br/>
          Recently asked Questions: <br/>
	  <% if @questions.first != nil%>
          	<%= @questions.first.content %>
	  <% else %>
          	No Questions Yet...
	  <% end %>
        </div>
      </div>
    </div>
    <div class="pill-pane" id="interviews">
      <p> <% if @interview.first %>
            <h5>Product Design Engineer at <%= @company.name %></h5>
            <hr class="company-divider">
            <p>No offer </p>
            <p>Interview Details - <%= @interview.first.content %></p>
            <p>Interview Question - What is a binary tree?</p>
            <p>Overall rating - 7.0 Moderately Difficulty </p>

        <% else %>
            No interviews yet...
        <% end %>
      </p>
      <%= link_to 'View More Interviews', interview_url %>
    </div>
    <div class="pill-pane" id="offers">
      <div id="plus-icon-i">
        <i class="foundicon-plus"></i>
      </div>
    </div>
    <div class="pill-pane" id="questions">
      <h5>Recently asked questions</h5>
      <p> <% if @questions.any? %>
           <% @questions.each do |question| %>
           <%= question.content %> <%= pluralize(question.answers.count, " answer")%><br/>
           <% end %>
        <% else %>
            No questions yet...
        <% end %>
      </p>

      <%= link_to 'View More Question/Answers', question_url %>
    </div>
  </div>
</div>

</div>
</div>

<div id="dialog-form-i" title="Submit a new offer" xmlns="http://www.w3.org/1999/html">
  <p>Salary:</p>
  <input id="offer-figure" name="offer-figure" type="number" class="text ui-widget-content ui-corner-all"/><br/>
  <p>Position:</p>
  <input id="offer-position" value="" name="offer-position" class="text ui-widget-content ui-corner-all" placeholder="Click a suggested tag below or enter your own." type="text" size="80"></input><br/>
  <div class="btn-group" data-toggle="buttons-radio" data-toggle-name="pos">
    <button type="button" class="btn btn-mini" name="position" value="Developer" id="developer" data-toggle="button">Developer</button>
    <button type="button" class="btn btn-mini" name="position" value="Project Manager" id="pm" data-toggle="button">Project Manager</button>
    <button type="button" class="btn btn-mini" name="position" value="Trader" id="trader" data-toggle="button">Trader</button>
    </br>
    <button type="button" class="btn btn-mini" name="position" value="Consultant" id="consultant" data-toggle="button">Consultant</button>
    <button type="button" class="btn btn-mini" name="position" value="Analyst" id="analyst" data-toggle="button">Analyst</button>
    <button type="button" class="btn btn-mini" name="position" value="Researcher" id="researcher" data-toggle="button">Researcher</button>
  </div><br/>
  <input id="offer-company" name="offer-company" type="hidden" value="<%= @company.id %>" /><br/>
  <a id="add-offer" class="btn spacer">Add Offer</a>
</div>


<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
create_plot_graph(<%= raw(@offers.to_json) %>,'offers');
</script>
