<% provide(:title, @company.name) %>

<div class="container company">
<div class="row title">
<p id="notice"><%= notice %></p>
<h1 id="company-name"><%= @company.name %></h1>
</div>

<hr class="company-divider">

<div class="row">

<div class="span4">
<img class="img-circle" src="http://placehold.it/140x140">
<h2>Interviews</h2>

<p> <% if @interview.first %>
      <%= @interview.first.content %>
    <% else %>
      No interviews yet...
    <% end %>
</p>

<%= link_to 'View More Interviews', interview_url, :class=>"btn" %>
<br/><br/>
</div>

<div class="span4">
<img class="img-circle" src="http://placehold.it/140x140">
<h2>Offer Average</h2>

<p><%= @offer %></p>

<%= link_to 'View More Offers', offer_url, :class=>"btn" %>
<br/><br/>
</div>

<div class="span4">
<img class="img-circle" src="http://placehold.it/140x140">
<h2>Questions/Answers</h2>

<p> <% if @question.first %>
  <%= @question.first.content %>
    <% else %>
    No questions yet...
    <% end %>
</p>

<%= link_to 'View More Question/Answers', question_url, :class=>"btn" %>

<br/><br/>
</div></div>
<div class="company-btn">
<%= link_to 'Back', companies_path, :id=>"company-btn"%>
</div></div>

