<!DOCTYPE html>
<html>
<head>
  <title>MITJobTalk | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <h4 class="brand">MIT<span id="brand">jobtalk</span></h4>
          <nav>
            <ul class="nav pull-right">
              <% if @current_user %>
		<li><a href='#'>Welcome, <%= @current_user.email %>!</a></li>
              <% end %>
              <li><%= link_to "Home", root_path %></li>
              <% if @current_user %>
                <li><%= link_to "Companies", companies_url %></li>
		<li><%= link_to "Settings", "/settings" %></li>                
		<li><%= link_to "Logout", "/logout" %></li>
              <% else %>

                <li><a id="login" href="javascript:void(0)" onclick="load1();">Login</a></li>
                <li><a id="register" href="javascript:void(0)" onclick="load2();">Register</a></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>
 <div class="container">
   <%= yield %>
 </div>

<footer class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <p id="footer_creds">Created for <span id="class_name">6.170</span> by Mari Miyachi, Timmy Galvin and Josh Duncavage.</p>
  </div>
</footer>

</body>
</html>
